*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
    background-color: #F5274D;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 23px;
    letter-spacing: 0.2px;
    word-spacing: 1.2px;
    color: #3223ba;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}
.container{
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:100vmin;
    width:100vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:4.4vmin;
}
.option{
    height:30vmin;
    width:30vmin;
    border-radius: 50%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}
#rock{
    background-image: url(rock.png);    
    background-repeat: no-repeat;
    background-size:30vmin;
    background-position: center;
    
}
#paper{
    background-image: url(paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:30vmin;
    
}
#scissor{
    background-image: url(scissor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:30vmin;
}
.result-game{
    height:70px;
    width:300px;
    font-size:32px;
    border-radius:2vmin;
    background-color:#000000;
    color:#FA899E;
    font-weight: bolder;
    box-shadow: 0 0 16px rgba(0,0,0,0.1)
}